<form [formGroup]="form" (submit)="onSubmit()">
  <div>
    <input matInput placeholder="Contraseña antigua:" formControlName="oldpassword" />
  </div>
  <div>
    <input matInput placeholder="Nueva contraseña:" formControlName="password" />
    <div *ngIf="password?.errors?.['required'] && password?.touched">
      <p [ngStyle]="{color:'blue'}">Este campo es obligatorio</p>
    </div>
    <div *ngIf="password?.errors?.['minlength']">
      <p [ngStyle]="{color:'blue'}">Minimo 8 caracteres</p>
    </div>
  </div>
  <div>
    <input matInput placeholder="Confirma la contraseña:" formControlName="confirmpassword" />
    <div *ngIf="confirmpassword?.errors?.['required'] && confirmpassword?.touched">
      <p [ngStyle]="{color:'blue'}">Este campo es obligatorio</p>
    </div>
    <div *ngIf="confirmpassword?.errors?.['minlength']">
      <p [ngStyle]="{color:'blue'}">Minimo 8 caracteres</p>
    </div>
  </div>
  <div>
    <button type="submit" mat-raised-button mat-dialog-close [disabled]="form.invalid">Enviar</button>
  </div>
</form>
<div>
  <button mat-raised-button mat-dialog-close routerLink="/dashboaard-users/userdata">Volver</button>
</div>