    <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Datos de tu cuenta:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <label for="username">Nombre de usuario: {{user?.username}}</label>
            </div>
            <div>
                <label for="name">Nombre: {{user?.name}}</label>
            </div>
            <div>
                <label for="lastname">Apellidos: {{user?.lastname}}</label>
            </div>
            <div>
                <label for="dni">DNI: {{user?.dni}}</label>
            </div>
            <div>
                <label for="mail">Correo: {{user?.mail}}</label>
            </div>
            <div>
                <label for="grade">Grado: {{user?.grade}}</label>
            </div>
            <div>
                <label for="dob">Fecha de nacimiento: {{user?.dob}}</label>
            </div>
            <div>
                <label for="phone">Telefono: {{user?.phone}}</label>
            </div>
            <div>
                <label for="hours">Horas totales: {{user?.hours}}</label>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="changePassword()">Modificar contraseña</button>
            <button mat-raised-button [routerLink]="['/dashboard-users']">Volver</button>
        </mat-card-actions>
      </mat-card>