<mat-card >
  <mat-card-title>Crea una nueva oferta</mat-card-title>
  <mat-card-subtitle>Completa este formulario con los datos de tu oferta para que los alumnos puedan verla y solicitarla. Si no encuentras el campo para introducir algun dato, dejalo en la descripcion.</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form" (submit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Puesto de trabajo:" formControlName="position" />
          <mat-error *ngIf="position?.errors?.['required'] && position?.touched">
            <p class="errors">Este campo es obligatorio</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Categoría:" formControlName="category"/>
          <mat-error *ngIf="category?.errors?.['required'] && category?.touched">
            <p class="errors">Este campo es obligatorio</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Horario:" formControlName="schedule"/>
          <mat-error *ngIf="schedule?.errors?.['required'] && schedule?.touched">
            <p class="errors">Este campo es obligatorio</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Sueldo:" formControlName="salary"/>
          <mat-error *ngIf="salary?.errors?.['required'] && salary?.touched">
            <p class="errors">Este campo es obligatorio</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Plazas disponibles:" formControlName="vacancies"/>
          <mat-error *ngIf="vacancies?.errors?.['required'] && vacancies?.touched">
            <p class="errors">Este campo es obligatorio</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Requisitos:" formControlName="requirements"/>
          <mat-error *ngIf="requirements?.errors?.['required'] && requirements?.touched">
            <p class="errors">Este campo es obligatorio</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="date" placeholder="Fecha de inicio:" formControlName="start_date"/>
          <mat-error *ngIf="start_date?.errors?.['required'] && start_date?.touched">
            <p class="errors">Este campo es obligatorio</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Semanas:" formControlName="weeks"/>
          <mat-error *ngIf="weeks?.errors?.['required'] && weeks?.touched">
            <p class="errors">Este campo es obligatorio</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Descripcion:" formControlName="description"></textarea>
          <mat-error *ngIf="description?.errors?.['required'] && description?.touched">
            <p class="errors">Este campo es obligatorio</p>
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Crear oferta</button>
          <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
        </mat-card-actions>
    </form>
  </mat-card-content>
