<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="header">Menú</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard-responsable/practices-reports']">
          <h3 style="color:rgb(255, 255, 255)">
            Informe de prácticas del sistema
          </h3>
        </a>
        <a mat-list-item [routerLink]="['/dashboard-responsable/responsable-data']">
          <h3 style="color:rgb(255, 255, 255)">
            Ver datos de la cuenta
          </h3>
        </a>
        <a mat-list-item (click)="logout()">
          <h3 style="color:rgb(255, 255, 255)">
            Cerrar sesión
          </h3>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
