<mat-card>
  <mat-card-header class="header">
    <mat-card-title >
      <h1>Alta de empresa ofertadora</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <p>Bienvenido al formulario de alta de empresa, aqui puedes dar de alta una empresa nueva. Todos los tutores activos de la aplicación deben tener una empresa dada de alta, ya sea creando una nueva empresa en la aplicación, o siendo asociado a una ya existente. Si tu empresa ya existe, pide al tutor activo que te de de alta como sustituto, si quieres crear una nueva empresa, rellena los campos siguientes:</p>
    </mat-card-subtitle>

  </mat-card-header>
  <div class="center-content">
    <mat-card-content>
      <form [formGroup]="form" (submit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Nombre de la empresa:" formControlName="name" />
          <mat-error *ngIf="name?.errors?.['required'] && name?.touched">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Sufijo de correo:" formControlName="mail_suffix" />
          <mat-error *ngIf="mail_suffix?.errors?.['required'] && mail_suffix?.touched">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="mail_suffix?.errors?.['pattern'] && mail_suffix?.touched">
            Formato inválido (@example.com)
          </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Teléfono:" formControlName="phone" />
            <mat-error *ngIf="phone?.errors?.['required'] && phone?.touched">
              Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="phone?.errors?.['pattern'] && phone?.touched">
              Introduce un número de 9 dígitos
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Dirección:" formControlName="address" />
            <mat-error *ngIf="address?.errors?.['required'] && address?.touched">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Ciudad:" formControlName="city" />
            <mat-error *ngIf="city?.errors?.['required'] && city?.touched">
              Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="city?.errors?.['pattern'] && city?.touched">
              Las ciudades no pueden contener números
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Código Postal:" formControlName="postal_code" />
            <mat-error *ngIf="postal_code?.errors?.['required'] && postal_code?.touched">
              Este campo es obligatorio
            </mat-error>
            <mat-error *ngIf="postal_code?.errors?.['pattern'] && postal_code?.touched">
              El código postal debe ser un número de 5 digitos
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Descripción:" formControlName="description"></textarea>
            <mat-error *ngIf="description?.errors?.['required'] && description?.touched">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button [disabled]="form.invalid" (click)="onSubmit()">Enviar</button>
      <button mat-raised-button (click)="clearForm()">Borrar datos</button>
      <button mat-raised-button [routerLink]="['/dashboard-tutors']">Volver</button>
    </mat-card-actions>
  </div>
</mat-card>
