<p>Estas son las practicas que están por ser aceptadas:</p>
<table mat-table: dataSource = "dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>
    <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef> Grado </th>
        <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
    </ng-container>
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Empresa </th>
      <td mat-cell *matCellDef="let element"> {{element.company}} </td>
    </ng-container>
    <ng-container matColumnDef="hours">
        <th mat-header-cell *matHeaderCellDef> Horas </th>
        <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
    </ng-container>
    <ng-container matColumnDef="mark">
      <th mat-header-cell *matHeaderCellDef> Nota </th>
      <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
  </ng-container>
</table>
<div class="button">
  <button mat-raised-button (click)="aceptar()">Aceptar la asignación de practicas</button>
  <button mat-raised-button routerLink = "'/dashboard-responsable'" >Volver</button>
</div>
