<mat-card class="practices-ongoing-card">
    <mat-card-header>
      <mat-card-title>Datos de tu practica en curso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h1> Nombre de la practica: </h1>
        <h1> Empresa: {{practice?.empresa}}</h1>
        <h1> Horario: </h1>
        <h1> Días de la semana: </h1>
        <h1> Semanas: </h1>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['/dashboard-users']">Volver</button>
    </mat-card-actions>
  </mat-card>