<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="header">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard-tutors/register-company']" *ngIf="!this.activeTutor">
          <h3 style="color:rgb(255, 255, 255)">
            Alta de empresa
          </h3>
        </a>

        <a mat-list-item [routerLink]="['/dashboard-tutors/company']" *ngIf="this.activeTutor">
          <h3 style="color:rgb(255, 255, 255)">
            Mi empresa
          </h3>
        </a>

        <a mat-list-item [routerLink]="['/dashboard-tutors/practices']" *ngIf="this.activeTutor">
          <h3 style="color:rgb(255, 255, 255)">
            Mis prácticas asignadas
          </h3>
        </a>

        <a mat-list-item [routerLink]="['/dashboard-tutors/offers']" *ngIf="this.activeTutor">
          <h3 style="color:rgb(255, 255, 255)">
            Ofertas de prácticas
          </h3>
        </a>

        <a mat-list-item [routerLink]="['/dashboard-tutors/profile']">
          <h3 style="color:rgb(255, 255, 255)">
            Mi perfil
          </h3>
        </a>
        <a mat-list-item (click)="logout()">
          <h3 style="color:rgb(255, 255, 255)">
            Cerrar sesión
          </h3>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
