<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="header">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard-tutors/registercompany']">
          <h3 style="color:rgb(255, 255, 255)">
            Dar de alta a la empresa
          </h3>
        </a>
        <a mat-list-item [routerLink]="['/dashboard-tutors/deletecompany']">
            <h3 style="color:rgb(255, 255, 255)">
              Dar de baja a la empresa
            </h3>
          </a>
          <a mat-list-item [routerLink]="['/dashboard-tutors/registeroffer']">
            <h3 style="color:rgb(255, 255, 255)">
              Dar de alta una oferta
            </h3>
          </a>
          <a mat-list-item [routerLink]="['/dashboard-tutors/changetutor']">
            <h3 style="color:rgb(255, 255, 255)">
              Cambiar la empresa a otro tutor
            </h3>
          </a>
          <a mat-list-item [routerLink]="['/dashboard-tutors/reports']">
            <h3 style="color:rgb(255, 255, 255)">
              Generar informe de sus alumnos
            </h3>
          </a>
          <a mat-list-item [routerLink]="['/dashboard-tutors/tutordata']">
            <h3 style="color:rgb(255, 255, 255)">
              Ver datos de la cuenta
            </h3>
          </a>
        <a mat-list-item (click)="logout()">
          <h3 style="color:rgb(255, 255, 255)">
            Cerrar sesion
          </h3>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
