<app-toolbar></app-toolbar>

<mat-card>
    <mat-card-title>
        <h1>¿Quiénes somos?</h1>
    </mat-card-title>
    <mat-card-content class="flex-container">
        <p class="flex-item">
            Somos un grupo de estudiantes de la rama de Ingeniería Informática de la Universidad de Alcalá de Henares.
        </p>
        <img src="favicon.ico" alt="about-us" class="circle-img flex-item">
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        <h1>Aplicación gestión de prácticas</h1>
    </mat-card-title>
    <mat-card-content>
        <p>
            El objetivo del proyecto es ofrecer una aplicación de gestión de prácticas externas en empresas para la Universidad de Alcalá de Henares. 
        </p>
        <p>
            La aplicación contiene 3 tipos de usuarios: Alumnos, Tutores externos y Responsables de la universidad. Cada usuario tiene acceso exclusivamente a las funcionalidades que le corresponden, tanto en la página web (en la que está leyendo este texto), como en la api utilizada como backend.
        </p>
        <p>
            Los alumnos y responsables se registran por medios ajenos a la aplicación, es decir, no existe una opción de registro para ellos. Por otro lado, los tutores externos pueden registrarse en la aplicación, pero para ello deberán estar asociados a una empresa ofertadora de prácticas. Una empresa sólo puede tener un tutor activo, por tanto, para asignarle un nuevo tutor, el anterior deberá ser dado de baja.
        </p>
        <p>
            Los alumnos pueden solicitar hasta 10 ofertas de prácticas disponibles en la aplicación. El proceso de asignación se lleva a cabo de manera automática, en función de la nota de expiedente del alumno. El listado de prácticas seleccionadas se encuentra ordenado en función de la preferencia del alumno, siendo 1 la preferencia más alta. Si dos alumnos solicitan la misma oferta de prácticas, tendrá prioridad aquel alumno con la mayor nota media de expediente.
        </p>
        <p>
            Las empresas pueden publicar ofertas de prácticas en la aplicación. Para ello, deberán estar registradas en la aplicación y tener un tutor externo asociado. Las nuevas ofertas de prácticas se publican en la página web de la aplicación y se muestran a los alumnos compatibles. Los alumnos pueden solicitar hasta 10 ofertas de prácticas, pero las empresas pueden publicar ofertas indefinidamente.
        </p>
        <p>
            Una vez finalizado el proceso de prácticas de un alumno, el tutor asociado a la empresa deberá evaluar dicho proceso, para lo cual, asignará una nota y un informe de prácticas. Una vez terminado, el responsable de la universidad puede solicitar un informe de prácticas por alumno y por empresa, para formalizar la evaluación de las prácticas en las actas universitarias.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        <h1>Equipo de desarrollo</h1>
    </mat-card-title>
    <mat-card-content class="grid-container">
        <mat-card>
            <mat-card-title>
                <h2>Gonzalo López Gil</h2>
            </mat-card-title>
            <mat-card-content>
                <img src="favicon.ico" alt="about-us" class="circle-img">
                <h4>Desarrollador Backend</h4>
                <p>
                    Desarrollador backend de la aplicación. Se ha encargado de la creación de la api, así como de la integración de la misma con la aplicación web.
                </p>
                <mat-card-footer>
                    <a href=""><mat-icon>LinkedIn</mat-icon></a>
                    <a href=""><mat-icon>GitHub</mat-icon></a>
                    <a href=""><mat-icon>mail</mat-icon></a>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>
                <h2>Carlos Cercos</h2>
            </mat-card-title>
            <mat-card-content>
                <img src="favicon.ico" alt="about-us" class="circle-img">
                <h4>Desarrollador Backend</h4>
                <p>
                    Desarrollador backend de la aplicación. Se ha encargado de la creación de la api, así como de la integración de la misma con la aplicación web.
                </p>
                <mat-card-footer>
                    <a href=""><mat-icon>LinkedIn</mat-icon></a>
                    <a href=""><mat-icon>GitHub</mat-icon></a>
                    <a href=""><mat-icon>mail</mat-icon></a>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>
                <h2>Ruben Minero</h2>
            </mat-card-title>
            <mat-card-content>
                <img src="favicon.ico" alt="about-us" class="circle-img">
                <h4>Desarrollador Frontend</h4>
                <p>
                    Desarrollador backend de la aplicación. Se ha encargado de la creación de la api, así como de la integración de la misma con la aplicación web.
                </p>
                <mat-card-footer>
                    <a href=""><mat-icon>LinkedIn</mat-icon></a>
                    <a href=""><mat-icon>GitHub</mat-icon></a>
                    <a href=""><mat-icon>mail</mat-icon></a>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>


        <mat-card>
            <mat-card-title>
                <h2>Carlos López</h2>
            </mat-card-title>
            <mat-card-content>
                <img src="favicon.ico" alt="about-us" class="circle-img">
                <h4>Desarrollador Frontend</h4>
                <p>
                    Desarrollador backend de la aplicación. Se ha encargado de la creación de la api, así como de la integración de la misma con la aplicación web.
                </p>
                <mat-card-footer>
                    <a href=""><mat-icon>LinkedIn</mat-icon></a>
                    <a href=""><mat-icon>GitHub</mat-icon></a>
                    <a href=""><mat-icon>mail</mat-icon></a>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
        
        <mat-card>
            <mat-card-title>
                <h2>Nicolae-Alexandru Molnar</h2>
            </mat-card-title>
            <mat-card-content>
                <img src="favicon.ico" alt="about-us" class="circle-img">
                <h4>Desarollador FullStack</h4>
                <p>
                    Desarrollador backend de la aplicación. Se ha encargado de la creación de la api, así como de la integración de la misma con la aplicación web.
                </p>
                <mat-card-footer>
                    <a href=""><mat-icon>LinkedIn</mat-icon></a>
                    <a href=""><mat-icon>GitHub</mat-icon></a>
                    <a href=""><mat-icon>mail</mat-icon></a>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>