/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card{
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

mat-card-content{
    text-align: justify;
}

.circle-img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 0 auto;   
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item{
    flex: 1 1 200px;
    margin: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
}