<div class="header">
  <h1>Estas son las prácticas que puedes seleccionar.El orden de preferencia se establecera en función del orden de selección.</h1>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Posicion Column -->
  <ng-container matColumnDef="Posicion">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.positiontable}} </td>
  </ng-container>

  <!-- Titulo Column -->
  <ng-container matColumnDef="Titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Empresa Column -->
  <ng-container matColumnDef="Empresa">
    <th mat-header-cell *matHeaderCellDef> Empresa </th>
    <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
  </ng-container>

  <!-- Plazas Column -->
  <ng-container matColumnDef="Plazas">
    <th mat-header-cell *matHeaderCellDef> Plazas </th>
    <td mat-cell *matCellDef="let element"> {{element.vacancies}} </td>
  </ng-container>

  <!-- Horario Column -->
  <ng-container matColumnDef="Horario">
    <th mat-header-cell *matHeaderCellDef> Horario </th>
    <td mat-cell *matCellDef="let element"> {{element.schedule}} </td>
  </ng-container>

  <!-- Semanas Column -->
  <ng-container matColumnDef="Semanas">
    <th mat-header-cell *matHeaderCellDef> Semanas </th>
    <td mat-cell *matCellDef="let element"> {{element.weeks}} </td>
  </ng-container>


  <!-- Select Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>

</table>
<mat-paginator [pageSize]="5"
                 showFirstLastButtons
                 aria-label="Seleciona la pagina de practicas">
  </mat-paginator>

<div class="button">
  <button mat-raised-button (click)="guardar()">Guardar la seleccion de practicas</button>
  <button mat-raised-button [routerLink]="['/dashboard-users']">Volver</button>
</div>


