html{
    height: 100vh;
    width: 100vh;
    justify-content: center;
  }


  table {
    width: 100%;
    margin-top: 30px;
  }

  .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .header{
    text-align: center;
  }

  .seleccion{
    margin-left:650px;
  }
